<div class="row-fluid">
  <div class="span12">

    <ul>
      <div id="<%= idea.id %>">
        <div class="span11" id="Idea-Box" style="border-bottom: 1px solid #EEE; ">

          <div class="span2">
           <a href="/users/<%=idea.user_id%>"><img src="http://farm6.staticflickr.com/5254/5488146741_b80f4b056a.jpg" class="img-polaroid"></a>
         </div>
         <div class="span4">

           <h3 ><%=idea.title%> </h3>
         </div>
         <div class="span3">
           <h3> Votes: <span><%= idea.votes.count %></span>
            <% if @user_vote_ids.include?(idea.id) %>
            <% else %>
            <button id="vote_<%= idea.id %>" class="voteButton">Vote</button></h3>
            <% end %>

          </div>
          <div class="span3">
            <h5>  Tag: <%= idea.tags.first.name %></h5>
          </div>

        </div>
        <div class="span11">
          <div class="stats">

            <p><%=idea.content%></p>
            <small><cite>created at <%=idea.created_at%></cite></small>
          </div>
        </div>
        <div class="span9 offset2" id="idea-comments"style="background-color:white; border: 1px solid black; border-radius:5px;">
          <ol>
            <% idea.comments.each do |comment| %>
            <% counter = 0 %>
            <div id="comment_<%= comment.id %>">
              <li><%=comment.content%></li>
              <ul>
                <li><small><cite class="usernameComment" id="comment.user.username" title="Source Title">--<a href="users/<%=comment.user.id%>"><%= comment.user.email %>, created at (<%=comment.created_at%>)</a></cite></small></li>
              </ul>
            </div>
            <% end %>
          </ol>
          <div id="commentBox">
            Add comment: <input id="mainComment<%= idea.id %>" type="text" name="comment" style="margin-top:1%;">
            <button id="<%= idea.id * 2 %>" class="mainCommentButton">submit</button>
          </div>
        </div>
      </div>
    </ul>
  </div>
</div>






