
var div = $('<div id="'+ <%=@idea.id%> +'"></div>').addClass("individual-idea-container"),
    li = '<h3><li>'+ '<%=@idea.title%>' +'</li></h3>',
    li2 = $('<li>'+ '<%=@idea.content%>' +'</li>').addClass("stats"),
    li3 = $('<li><li>').attr('id', 'idea-comments'),
    input = '<input id="comment" type="text" name="comment" placeholder="add a comment">',
    button = '<button data-id="'+ <%=@idea.id%> +'" class="commentButton">submit</button>',
    ideaForm = div.append(li).append(li2).append(li3).append(input).append(button).css("list-style-type", "none");

$('#'+<%=@idea.user_id%>).prepend(ideaForm);




