<div class="fluid-row">
  <div class="span12">
    <div class="userIdeaClass">
      <ul id="<%= @user.id %>">
        <% @user_ideas.each do |idea| %>
        <div class="span12" id="idea-container">
          <div id="<%= idea.id %>" class="mainIdeaDiv">
           <div class="span11" style="border-bottom: 1px solid #EEE;" >
            <div class="span4">

              <h3 ><%=idea.title%></h3>

            </div>
            <div class="span4" id="vote-totals">
             <h3>Votes: <%= idea.votes.count %></h3>
           </div>
           <div class="span3" id="tags-box">
             <h4>Tag: <%= idea.tags.first.name %></h4>
           </div>
         </div>
         <div class="span11">
          <div class="stats">
            <p><%= idea.content %></p>
            <small style="margin-left: 50%;"><cite>created at <%=idea.created_at%></cite></small>
          </div>
        </div>
        <div clas="span11">
        <ul>
          <% idea.comments.each do |comment| %>

          <div class="span9 offset2" id="idea-comments" style="background-color:white; border:none; border-radius:5px;">
            <li><%=comment.content%></li>
            <ul>
              <li style="margin-left: 20%;"><small><cite class="usernameComment" id="comment.user.username" title="Source Title">--<a href="/users/<%=comment.user.id%>"><%= comment.user.username %></a>, created at select_datetime(<%=comment.created_at%>)</cite></small></li>
            </ul>
          </div>
          <% end %>

          <button id="profileCommentButton_<%= idea.id %>" class="profileCommentButton">See comments</button></br>
          <input id="profileCommentBox_<%= idea.id %>" type="text" name="comment" placeholder="add a comment">
          <button id="profileCommentButton_<%= idea.id %>" class="userCommentButton">submit</button>
        </ul>
        </div>
      </div>
    </div>
    <% end %>
  </ul>
</div>
</div>
</div>

