<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <div class="row-fluid">
          <div class="span3" id="idea-container">
           <img src="http://farm6.staticflickr.com/5254/5488146741_b80f4b056a.jpg" class="img-polaroid-profile">
           <div class="bio">
            <h3><%= @user.username %></h3>
            <p><h5>Bio</h5><%= @user.bio %></p>
          </div>

            Search Your Tags: </br>
            <input id="tagText" class="input-small" type="text" name="tagSearchBox">
            <button class="tagSearchButton" id="tagSearchButton_<%= @user.id %>">Search</button>
             <div id="tagSearchBox"></div>

          </div>

          <div class="span1"></div>
        <div class="span7" >
            <div class="row-fluid">
              <div class="span12">

                  <%= render 'form' %>

              </div>
            </div>
        </div>
         <div class="span1"></div>

        <% if @user_ideas.empty?%>
        <%else%>
        <div class="span1"></div>
          <div class="span7 offset3">
            <div class="ideas" >

                    <%= render "idea" %>
            </div>
          </div>
           <% end %>
      </div>
    </div>
  </div>
</div>
