<!DOCTYPE html>
<html>
<head>
  <title>ThirdProject</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Individual Page</a></li>
        </ul>
        <h3 class="text-muted">Idea Engine</h3>
      </div>
 </div>
 <div id="main">
 </div>

<%= yield %>
<p></p>
      <div class="footer">
        <p>This is really awesome, right?</p>
      </div>
</body>
</html>
